.header .pure-menu-heading.menu-link{
	display: none;

	@media (max-width: 993px){

		display: block;
	}
}
.menu-desktop{
	display: block;
	z-index: 99998;
	right: 0;
	top: 0;
	position: fixed;
		background: #fff;

	li{
		list-style: none;
		text-transform: uppercase;
		display: inline-block;
		padding: 20px 15px;
		a{
			color: #077f42;
			font-style: normal;
			text-decoration: none;
			font-size: 12px;
			font-weight: 500;
		}
		&:first-child{
			padding-left: 30px;
		}
		&:last-child{
			padding-right: 30px;
		}
	}
	@media (max-width: 993px){

		display: none;
	}
}
.pure-menu.pure-menu-fixed{
	z-index: 99999;
}

.hidden-menu{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 10;
	opacity: 0;
	display: none;
	overflow: auto;
}

.menu-wrap{
	background: rgba(34, 34, 34, 0.5);;
	position: relative;
	top: 0;
	z-index: 12;
	margin: 0 auto;
	width: 100%;
	display: table;
	height: 100%;
	overflow-y: scroll;
	ul{
		padding: 0;
		width: 100%;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
	li{
		list-style: none;
		line-height: 2;
		a {
			color: #fff;
			text-decoration: none;
			font-family: 'Lustria', serif;
			font-size: 200%;

			&::first-letter {
			  font-weight: bold;
				font-size: 130%;
			}

			&.logo-menu{
				img{
					width: 160px;
				}
			}
		}
	}
}

@media (max-width: 480px){


	.menu-wrap{
		ul{
		}
		li{
			a {
				&.logo-menu{
					visibility: hidden;
				}
			}
		}
	}
}