h1,h2,h3,h4,h5,h6{
	font-family: 'Lora', serif;
	color: #013813;
}

div, p, table, a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #212121;
}

h2{
	&.lined{
		width: 50%;
		font-size: 20px;
		position: relative;
		margin: 60px auto;
		letter-spacing: 0;
		font-weight: normal;
		color: #077f42;

		&.dark{
		    &:before{
		        background: #077f42;
		    }

		    &:after{
		        background: #077f42;
		    }
		}

		&.light{
			color: #fff;
		    &:before{
		        background: #fff;
		    }

		    &:after{
		        background: #fff;
		    }
		}

	    &:before{
	        position: absolute;
	        content: " ";
	        height: 2px;
	        width: 35%;
	        left: 0;
	        background: #fff;
	        top: 10px;
	    }

	    &:after{
	        position: absolute;
	        content: " ";
	        height: 2px;
	        width: 35%;
	        right: 0;
	        background: #fff;
	        top: 10px;
	    }

	}
}

.no-margin-top{
	margin-top: 0 !Important;
}

.no-margin-bottom{
	margin-bottom: 0 !Important;
}

.dark{
	color: #222;
}

.light{
	color: #fff;
}

.pure-button{

	&.flat{
		border-radius: 0;
	    text-align: center;
	    font-size: 12px;
	    text-transform: uppercase;
	    font-weight: 400;
	    letter-spacing: 4px;

		&-hover, &:hover, &:focus{
			border-radius: 0;
		}

		&.full-width{
			width: 100%;
		}
		&.green{   
		  	background: none;
		    color: #077f42;
		    position: relative;
		    padding: 10px 40px; 
		    border: 2px solid #077f42;
		    letter-spacing: 2px;
			&:after{
				content: " ";
				height: 2px;
				width: 0;
				background: #077f42;
				position: absolute;
				bottom: 0;
				left: 0;
			  	-webkit-transition: all 0.2s ease-in-out;
			  	-o-transition: all 0.2s ease-in-out;
			  	transition: all 0.2s ease-in-out;
			}

			&:hover{

				&:after{
					width: 100%;
				}
			}

			&:focus{
				box-shadow: none;
			}
		}

		&.solid-green{
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			background: #077f42;
			border: 2px solid #077f42;
			color: #fff;

			&:hover, &:focus{
				background: #fff;
				border: 2px solid #077f42;
				color: #077f42;

				&:after{
					width: 100%;
				}
			}

			&:focus{
				box-shadow: none;
			}
		}

	}
}

.content{
	width: 1180px;
		margin: 0 auto;
}

.is-checked{background: #3d3d3d; color: white;}

/* ---- isotope ---- */

.masonry {
  clear:both;
  padding:2vw 0 0 2vw;

  .masonry *{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  }
}

/* clear fix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.masonry-item,
.grid-sizer {
  width: 28%;
}
 
.masonry-item {
  float: left;
  height: auto;
  margin-bottom: 30px;
  img{
    width: 100%;
  }
}


.gutter-sizer { width: 8%; }

.masonry-item{
	  img{ 
	    width: 100%; 
	  }

    .title{
      color: #005e20;
      font-size: 150%;
      font-family: 'Lustria', serif; 
      text-align: center;
      margin: 20px auto;
      position: relative;
    }

    .acc-content{
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      color: #212121;
      text-align: center;
    } 

} 

.center-grid{
	margin: 0 auto;
}
.controls.check{
	margin: 0px 0 20px;

	span{
		display: inline-block;
    	vertical-align: middle;
	}
}
.controls input[type="checkbox"]{
    background: #fff;
    border: 1px solid #222;
    padding: 2px;
    height: 22px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

@media (max-width: 1199px){
	.content{
		width: 85%;
		margin: 0 auto;
	}
}

@media (max-width: 998px){
	h2{
		&.lined{

		    &:before{
		        width: 25%;
		    }

		    &:after{
		        width: 25%;
		    }

		}
	}
}
@media (max-width: 640px){
	h2{
		&.lined{
			width:  90%;

		    &:before{
		        width: 25%;
		    }

		    &:after{
		        width: 25%;
		    }

		}
	}

}
@media (max-width: 480px){
	h2{
		&.lined{

		    &:before{
		        width: 20%;
		    }

		    &:after{
		        width: 20%;
		    }

		}
	}

}

@media (max-width: 320px){

}