.profile-pic{
	.img-wrap{
		border-radius: 500px;
		top: -65px;
		z-index: 999999;
		position: absolute;
		width: 110px;
		height: 110px;
		margin: 0 auto;
		overflow: hidden;
		display: block;
		left: 0;
		right: 0;
	    img{
	    	width: 100%;
	    }
	}
}

.profile-wrap{
	text-align: center;
	padding-bottom: 30px;

	h4{
		margin-top: 115px;
	}

	small{
		a{
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1px;
			text-decoration: none;
		}
	}
}