.splash{
    height: auto;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 0;
    width: 30%;
}
.splash-container{
	background:  repeat, url(../img/bg/open.jpg)  no-repeat;
	background-size:  cover;
    display: table;

    &:before{
        background: #000;
        content: "";
        height: 100%;
        width: 100%;
        -webkit-mix-blend-mode: soft-light;
        -moz-mix-blend-mode: soft-light;
        -o-mix-blend-mode: soft-light;
        mix-blend-mode: soft-light;
    }
}

.splash-small{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 20px;
    text-transform: none;
    color: #fff;    
    position: relative;
    width: 100%;
    display: block;

    &:before{
        position: absolute;
        content: " ";
        height: 2px;
        width: 35%;
        left: 0;
        background: #fff;
        top: 10px;
    }

    &:after{
        position: absolute;
        content: " ";
        height: 2px;
        width: 35%;
        right: 0;
        background: #fff;
        top: 10px;
    }
}

.splash-head{
    border: none;
    border-radius: 0;
    padding: 10px 0px 16px;
    font-size: 200%;
    margin: 0;
    border-bottom: 2px solid #fff;
    font-family: 'Lustria', serif;
    letter-spacing: 0.3em;

    strong{
        font-weight: normal;
        font-size: 120%;
    }
}

.splash-subhead{
	text-transform: none;
    font-family: 'Lustria', serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.discover{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    width: 150px;
    letter-spacing: 4px;
    padding-left: 4px;
}



@media (max-width: 1199px){

    .splash{
        width: 400px;
    }
}

@media (max-width: 480px){

    .splash{
        width: 310px;
    }

    .splash-small{

        &:before{
            width: 28%;
        }

        &:after{
            width: 28%;
        }
    }
}

@media (max-width: 320px){

    .splash{
        width: 210px;
    }

    .splash-small{

        &:before{
            width: 20%;
        }

        &:after{
            width: 20%;
        }
    }
}